.marquee-container {
    width: 50%;
    overflow: hidden;
  }
  
  .marquee-text {
    color: black;
    font-weight: bold; /* Make the text bold */
    font-size: 24px; /* Set the font size */
    white-space: nowrap; /* Prevent text from wrapping */
    animation: marquee 10s linear infinite; /* Apply the sliding animation */
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(100%); /* Start off-screen */
    }
    100% {
      transform: translateX(-100%); /* Slide to the left */
    }
  }
  