.notice-board {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .notice-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .notice {
    background-color: rgba(72, 255, 0, 0.945);
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
  }
  